<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="modal-item">
      <div class="img"></div>
    </div>
    <div class="info-item">
      <h2>Назва товару</h2>
      <p>Артикул</p>
      <p>Опис товару</p>
      <div>
        <input type="color" name="" id="" />
        <span
          >Color
          <select name="color-made-ua" id="">
            <option value="color1">
              <span></span>
            </option> </select
        ></span>
        <span
          >Color
          <select name="color-made-vengria" id="">
            <option value="color1"></option> </select
        ></span>
        <span
          >Color
          <select name="color-made-turkish" id="">
            <option value="color1"></option> </select
        ></span>
        <div><p>size table</p></div>
      </div>
      <div>
        <p>Price</p>
        <div>
          <span
            >size
            <select name="size" id="">
              <option value="xl"></option> </select
          ></span>
        </div>
        <div>
          <button>-</button>
          <span>0</span>
          <button>+</button>
        </div>
        <div>
          <button>in Cart</button>
        </div>
      </div>
    </div>
  </body>
</html>
