header {
  position: relative;
}

.navigation {
  margin: 0 auto;
  grid-area: header;
  grid-template-columns: auto;
  background-color: #765e5e;
  /* max-width: 1168px; */
  margin-bottom: 15px;
}

.navigation-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 150px;
  align-items: center;
}

.navigation-page {
  list-style: none;
  display: grid;
  grid-template-columns: 250px 250px 180px 200px;
  align-items: center;
}

.navigation-page a {
  text-decoration: none;
  color: #f5f3f3;
  font-size: 26px;
}

.navigation-icon {
  padding: 0;
  text-align: end;

  list-style: none;
  position: relative;
}

.navigation-icon a {
  text-decoration: none;
  color: #f5f3f3;
}

.logo-img {
  max-width: 180px;
}

.button-exit {
  display: flex;
}

@media screen and (max-width: 950px) {
  /* .navigation-page {
    grid-template-columns: 150px 250px 180px 200px;
  } */
}
@media screen and (max-width: 768px) {
  .navigation-page_link {
    display: none;
  }
  .navigation-page {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .navigation-list {
    column-gap: 40px;
  }
}
@media screen and (max-width: 1140px) {
  .navigation-icon {
    justify-self: start;
  }
  .navigation-page {
    grid-template-columns: 150px 250px 180px 150px;
  }
}
