.footer-info {
  /* width: 100vh; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.footer {
  background-color: #765e5e;

  /* width: 100vh; */
}

.login-link {
  display: flex;
}

.contact-footer {
  display: grid;
}

.contact-footer_item {
  /* display: grid; */
}

.contact-item {
  display: initial;
  width: 50%;
  margin: 0;
  padding-right: 10px;
}
