.cart-list {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
}

input {
  font-size: 20px;
  /* max-width: 70%; */
}

.form-submit {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  margin: 0 auto;
  width: 40vw;
}

@media screen and (max-width: 1090px) {
  .cart-list {
    grid-template-columns: 300px 300px 300px;
  }
  .card {
  }
}
@media screen and (max-width: 768px) {
  .cart-list {
    grid-template-columns: 300px 300px;
  }
  .form-submit {
    grid-template-columns: auto;
    grid-gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .cart-list {
    grid-template-columns: auto;
  }
  .form-submit {
    grid-template-columns: auto;
    grid-gap: 10px;
  }
}
